/* ---------- BASIC SETUP ---------- */
:root {
    --basis: 1em;
    --stepUp4: calc(var(--stepUp3) * 1.143);
    --stepUp3: calc(var(--stepUp2) * 1.167);
    --stepUp2: calc(var(--stepUp1) * 1.2);
    --stepUp1: calc(var(--basis) * 1.25);
    --stepDown1: calc(var(--basis) * 0.875);
    --stepDown2: calc(var(--stepDown1) * 0.857);
    --stepDown3: calc(var(--stepDown2) * 0.833);
    --stepDown4: calc(var(--stepDown3) * 0.8);
}

html {
    box-sizing: border-box;
    font-size: var(--basis);
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px;
}

/* ---------- TEXT ---------- */
h1 {
    font-size: var(--stepUp4);
    color: white;
    text-align: center;
}

h2 {
    font-size: var(--stepUp3);
}

h3 {
    font-size: var(--stepUp2);
}

h4 {
    font-size: var(--stepUp1);
}


/* ---------- FORMS ---------- */
form {
    font-size: var(--stepUp1);
}

input[type="text"] {
    width: 100%;
    text-indent: 5px;
}

input,
select {
    font-size: var(--stepDown1);
    padding: .1em .25em;
    border: 2px solid yellowgreen;
    border-radius: 0.25em;
    color: yellowgreen;
}

input:focus,
select:focus,
input:hover,
select:hover {
    color: yellowgreen;
    box-shadow: inset 0 0 5px yellowgreen, 0 1px 6px 0 yellowgreen;
    outline: 5px  yellowgreen;
}

input[type="submit"] {
    position: relative;
    background-color: moccasin;
    padding: .2em .5em;
}

input[type="submit"]:hover {
    background-color: yellowgreen;
    color: moccasin;
}

input[type="submit"]:active {
    top: 0.1em;
}


/* ---------- LINKS ---------- */
a:link,
a:visited {
    text-decoration: none;
    color: brown;
}

a:hover,
a:active {
    text-decoration: underline;
    text-decoration-color: yellowgreen;
    color: yellowgreen;
}



/* ---------- HEADER ---------- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 12vh;
    background-color: yellowgreen;
}

.logo {
    width: 40px;
    height: 40px;
}

/* ---------- START SECTION ---------- */
.start-section {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/beers.jpg) 50% 90% / cover no-repeat;
    color: white;
    padding-top: 7vh;
    z-index: 100;
}

.start-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1.75em);
    grid-row-gap: .4em;
    place-items: center start;
    padding: 1.5em .25em;
    max-width: 320px;
    margin: auto;
}

.item-a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-b {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-self: end;
}

.item-c {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-d {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-self: end;
}

.item-e {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.item-f {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: end;
}

.item-g {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.item-h {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: end;
}

.item-i {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-self: center;
}

/* ---------- MAIN FORM ---------- */
/* make this section display: relative to center main form */
.main-form-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/alcohol-beer-beverage-1128975.jpg) center 40% / cover no-repeat;
    color: white;
    width: 100vw;
    height: 50vh;
}

.main-form-title {
    text-align: center;
    margin: 2vh 0 .7em;
}
.main-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1.75em);
    grid-row-gap: .4em;
    place-items: center start;
    max-width: 370px;
    margin: auto;
}

/* ----- RESULTS SECTION ----- */
.results-section {
    min-height: 33vh;
}

.error-message {
    color: red;
}

.results-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    max-width: 300px;
    margin: auto;
}

.list-item {
    margin: 15px 0;
    line-height: 1.35em;
    width: 100%;
    max-width: 280px;
}

address {
    margin-bottom: .4em; 
}


/* ----- FOOTER ----- */
footer {
    width: 100vw;
    height: 5vh;
    background-color: yellowgreen;
}


