/* ---------- BASIC SETUP ---------- */
:root {
    --basis: 1em;
    --stepUp4: calc(var(--stepUp3) * 1.143);
    --stepUp3: calc(var(--stepUp2) * 1.167);
    --stepUp2: calc(var(--stepUp1) * 1.2);
    --stepUp1: calc(var(--basis) * 1.25);
    --stepDown1: calc(var(--basis) * 0.875);
    --stepDown2: calc(var(--stepDown1) * 0.857);
    --stepDown3: calc(var(--stepDown2) * 0.833);
    --stepDown4: calc(var(--stepDown3) * 0.8);
    
    --color1: rgb(140, 78, 1);
    --color2: rgb(255, 154, 31);
    --color3: rgb(217, 121, 4);
    --color4: rgb(0, 95, 140);
    --color5: rgb(4, 148, 217);
}

html {
    box-sizing: border-box;
    font-size: var(--basis);
    font-family: 'Noto Sans', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.container {
    padding: 10px;
}

.hidden {
    display: none;
}

/* ---------- TEXT ---------- */
h1, h2, h3, h4 {
    font-family: 'Fjalla One', sans-serif;
}

h1 {
    font-size: var(--stepUp4);
    color: white;
    text-align: center;
    padding: 0.5em 0 0.75em;
}

h2 {
    font-size: var(--stepUp3);
    color: white;
}

h3 {
    font-size: var(--stepUp2);
}

h4 {
    font-size: var(--stepUp1);
}


/* ---------- FORMS ---------- */
form {
    font-size: var(--stepUp1);
}

input[type="text"] {
    width: 100%;
    text-indent: 5px;
}

::placeholder {
    color: var(--color3);
    opacity: 0.65;
}

input,
select {
    font-size: var(--basis);
    padding: .1em .25em;
    border: 2px solid var(--color3);
    border-radius: 0.25em;
    color: var(--color3);
    background-color: white;
}

select {
    width: 100%;
    max-width: 122px;
}

input:focus,
select:focus,
input:hover,
select:hover {
    color: var(--color3);
    box-shadow: inset 0 0 5px var(--color3), 0 1px 6px 0 var(--color3);
    outline: 7px var(--color2);
}

input[type="submit"] {
    position: relative;
    padding: .3em .5em;
    color: var(--color2);
    font-weight: 600;
    transition: background-color .5s ease, color 1s linear;
}

input[type="submit"]:focus,
input[type="submit"]:hover {
    background-color: var(--color2);
    color: white;
    cursor: pointer; 
}

input[type="submit"]:active {
    top: 0.1em;
}

/* ---------- LINKS ---------- */
a:link,
a:visited {
    text-decoration: none;
    color: var(--color1);
}

a:hover,
a:active {
    text-decoration: underline;
    text-decoration-color: var(--color4);
    color: var(--color4);
}

/* ---------- HEADER ---------- */
.main-header {
    background-color: var(--color2);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 650px;
    margin: .35em auto;
}

.logo {
    width: 60px;
    height: 60px;
}

.logo:hover {
    cursor: pointer;
}

/* ---------- START SECTION ---------- */
.start-header {
    text-align: center;
}

.header-title {
    font-size: var(--basis);
}

.header-logo {
    width: 40px;
}

.start-section {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/beers-640x958.jpg) 50% 90% / cover no-repeat;
    color: white;
    z-index: 100;
}

.start-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1.75em) 2.35em;
    grid-row-gap: .4em;
    place-items: center start;
    padding: 0 .25em;
    max-width: 320px;
    margin: auto;
}

.item-a {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.item-b {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    justify-self: end;
}

.item-c {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-d {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    justify-self: end;
}

.item-e {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.item-f {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    justify-self: end;
}

.item-g {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.item-h {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    justify-self: end;
}

.item-i {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
    justify-self: center;
    align-self: end;
}


/* ---------- MAIN FORM ---------- */
.main-form-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/beer-pour.jpg) center 40% / cover no-repeat;
    color: white;
}

.main-form-title {
    text-align: center;
    margin: .7em 0;
}
.main-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 1.75em) 2.35em;
    grid-row-gap: .4em;
    place-items: center start;
    max-width: 370px;
    margin: 0 auto 1em;
}

/* ----- RESULTS SECTION ----- */
.results-heading {
    max-width: 650px;
    margin: .5em auto 1em;
}

.results-heading p {
    line-height: 1.5em;
}

.error-message {
    color: red;
}

.results-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    max-width: 300px;
    margin: auto;
}

.list-item {
    margin: 15px 0;
    padding: 5px;
    width: 100%;
    max-width: 280px;
}

.list-item:hover {
    border: 2px solid var(--color1);
    border-radius: 0.25em;
}

address {
    margin: .25em 0 .75em; 
}

.p-info {
    padding-bottom: .35em;
}

/* ----- FOOTER ----- */
footer {
    width: 100vw;
    height: 50px;
    background-color: var(--color2);
}


